{% extends "base1.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>




<div class='col-sm-6 col-sm-offset-3'>
<div class="login-box-body" style="border-radius:10px; border: 1px solid rgb(179, 166, 166); background-color: rgb(255, 250, 251);"> 
    <span class="logo-mini"><img  align="right" src="https://vignette.wikia.nocookie.net/logopedia/images/0/07/Fc_barcelona.png/revision/latest?cb=20120211172706" width="50" height="50"><b></b></span>   
  
	<h2 class='text-align-center'><strong>Registrarte Gratis!</strong></h2><br/>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Registrarme' %}" />
</form>



<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
    <p>Ya tienes cuenta? <a href="{% url 'auth_login' %}"> Iniciar Sesión.</a></p>
    </div>
    </div>





</div>
</div>



<hr/>

</div>
{% endblock %}