{% extends 'base.html' %}{% load static %}


{% block section %}
 <h2>{{ object.nombre }}</h2>
 <hr>
{% endblock section %}
{% block content %}  

<div>


 <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              

              <div class="box-tools">
                
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>IDENTIFICACION C.C </th>
                  <th>NOMBRES</th>
                  <th>APELLIDOS</th>
                  <th>CORREO ELECTRONICO</th>
                  <th>TELEFONO</th>
                  
                </tr>
                <tr>
                        <td> {{ object.cedula }} </td>
                        <td> {{ object.nombre }} </td>
                        <td> {{ object.apellidos }} </td>
                        <td> {{ object.email }} </td>	
                        <td> {{ object.celular }} </td>	
                  
                </tr>
                
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    

    <a class="btn btn-primary" style="color:white" href="{% url 'cliente-update' object.id_cliente %}">MODIFICAR</a>
    <a class="btn btn-danger" style="color:white" href="{% url 'cliente-delete' object.id_cliente %}">ELIMINAR</a>
         



      

 </div>


 {% endblock content %}  